train/
train_orig/
venv/
__pycache__/
*.autosave
log/*
config.ini
report/
sample/
!sample/calibration/*
sample_bga/
test/
test_bga/
stitcher_tmp_images/
tmp/
tmp_svg/
losses/

.vs
train_x1/
train_x1_temp/
train_x3/
train_nn/
train_new/
deps/
boards/
models/*/*

version.py
pps3.txt
X.bin
Y.bin
Z.bin
requirements.temp
Probe.bin
# Default ignored files
.idea/
a.dump
bin/start_virtual.lnk